################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestDotNetCore/.vs/RestDotNetCore/v16/Server/sqlite3
/RestDotNetCore/RestDotNetCore/obj
/RestDotNetCore/RestDotNetCore/bin
/RestDotNetCore/RestDotNetCore/Properties
/RestDotNetCore/.vs/RestDotNetCore/v16
