################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestDotNetCore/.vs/RestDotNetCore/v16/Server/sqlite3
